body {
    padding-top: 50px;
    margin: 0 auto;
}
.navbar-inverse	{
	/** background-color: #861F1F !important; **/
	padding-left:  5% !important;
	opacity:  0.8 !important;
}
.principal {
    text-align: center;
    padding: 40px 15px;
    width: 500px;
    margin: 0 auto;
}
